*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
  .btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
  }

.btn:hover{
    background-color: rgb(17, 117, 210);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 346px;
    padding: 16px 120px;
}
nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
nav .menu .menu-items{
    font-size: 16px;
    font-weight: 500px;
    color: #000000;
}

.banner{
    background-image: url("../assets/hero-bg.png");
    padding: 115.5px 120px 179.5px 120px;
}
.banner .banner-container{
    text-align: center;
    margin: 0px auto;
}
.banner .banner-container .sub-title{
    display: flex;
    gap: 4px;
    padding: 9px 12px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    align-items: center;
    width: 229px;
    margin: 0px auto;
    margin-bottom: 16px;
}
.sub-title-icon{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background:
      radial-gradient(circle,
        #4F9A6A 18%,
        #9FCEB3 35%,
        #DDEFE4 55%
      );
    
}
.sub-title-text{
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
}
.banner .banner-container .title h2{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    width: 770px;
    margin: 0px auto;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.banner .banner-container .title h2 .title-color{
    color: #30B868;
}
.banner .banner-container .description p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;

}
.banner .banner-container .button{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.unique-btn{
    display: flex;
    gap: 10px;
    align-items: center;

}
.unique2-btn{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 12.5px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}
.unique2-btn:hover{
    background-color: rgb(17, 117, 210);
}
.notes{
    padding: 0px 120px;
}
.notes .notes-container{
    margin: 0px auto;
    text-align: center;
}
.notes .notes-container .notes-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.notes .notes-container .notes-subtitle p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}
.notes-card-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}
.notes-card-container .card{
    padding: 0px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #00000022;
    padding-top: 69.5px;
    /* height: 300px; */
}
.notes-card-container .unique-card{
    padding: 0px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #00000022;
    padding-top: 55px;
}
.notes-card-container .card .notes-icon , .unique-card .notes-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    margin: 0px auto;
    margin-bottom: 16px;
}
.notes-card-container .card .notes-icon img , .unique-card .notes-icon img{
    width: 32px;
    height: 32px;
    margin: 14.04px 13.96px;
}
.notes-card-container .card .card-title h4 , .unique-card .card-title h4{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;
}
.notes-card-container .card .card-subtitle p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 21.5px;
}
.notes-card-container .unique-card .card-subtitle p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 7px;
}
.brain{
    padding: 120px;
}
.brain .brain-container{
    display: flex;
    gap: 60px;
    align-items: center;
}

.brain-content .message p{
    font-size: 16px;
    font-weight: 500px;
    margin-bottom: 16px;
    color: #469165;
}
.brain-content .brain-title h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.brain-description p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-content ul li{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #001931;
    list-style-type: none;
    align-items: center;
    display: flex;
    gap: 6px;
}
.early-access{
    padding: 2px 120px 120px 120px;
}
.early-access-container{
    background-color: #F7F6F2;
    text-align: center;
    border-radius: 12px;
    padding: 80px 40px;
}
.early-access-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.early-access-container .text1{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.early-access-container .text2{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}
.early-access-container button{
    margin: 0px auto;
    margin-bottom: 16px;
}
footer{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}
footer .logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.social-links{
    width: 220px;
}
.social-links p{
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.social-icon-container{
    display: flex;
    gap: 16px;
    align-items: center;
}
.social-icon-container div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#FFFFFF;
}
.social-icon-container a{
    text-decoration: none;
}
.social-icon-container a i{
    color: #000000;
}
.copyright{
    border-top: 1px solid #2e4356;
    padding-top: 30px;
    text-align: center;
}
.copyright p{
    font-size: 16px;
    color: #FAFAFA;
}