*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
  .btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 346px;
    padding: 16px 120px;
}
nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
nav .menu .menu-items{
    font-size: 16px;
    font-weight: 500px;
    color: #000000;
}